/* App.css */
.app-container {
  text-align: center;
  padding: 20px;
}

.app-header {
  background-color: #1b1c1e;
  padding: 10px;
}

.app-title {
  font-family: "Public Sans Black";
  color: white;
}

.app-content {
  margin-top: 20px;
}

.app-label {
  display: block;
  margin-bottom: 10px;
}

.app-input {
  padding: 8px;
  font-size: 16px;
}

.app-button {
  background-color: #1b1c1e;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.app-button:hover {
  background-color: #404040;
}

.app-output {
  margin-top: 20px;
}

.app-output-title {
  font-family: "Public Sans Black";
  color: white;
  display: block;
  margin-bottom: 10px;
}

.app-output-text {
  font-family: "Public Sans Black";
  color: #1b1c1e;
  background-color: #f2f2f2;
  padding: 10px;
  border-radius: 4px;
}
